/* Write your CSS here */
* {
  margin: 0px;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #150b3e;
  border-radius: 12px;
  padding: 30px;
  height: 450px;
  width: 420px;
}

.heading-container {
  display: flex;
  flex-direction: row;
}

.profile-container {
  height: 60px;
  width: 60px;
  border-radius: 40px;
  background-color: #c7d2fe;
}

.profile {
  font-family: 'Roboto';
  color: #7c3aed;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.name {
  font-family: 'Roboto';
  font-size: 18px;
  color: #c7d2fe;
  margin-top: 20px;
  margin-left: 15px;
}

.balance-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.balance-text {
  font-family: 'Roboto';
  font-size: 20px;
  color: #585076;
  font-weight: 500;
  margin-left: 10px;
}

.amount-container {
  display: flex;
  flex-direction: column;
}

.amount {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: bold;
}

.text {
  font-family: 'Roboto';
  color: #585076;
  font-size: 13px;
  font-weight: 500;
  margin-top: 15px;
}

.choose {
  font-family: 'Roboto';
  font-size: 17px;
  color: #585076;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 25px;
}

.withdraw {
  color: #d4d2db;
  font-family: 'Roboto';
  font-size: 23px;
  font-weight: 500;
  margin-left: 10px;
  margin-bottom: 20px;
}
